* {
  box-sizing: border-box;
}

#personTableContainer{
  height: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#smallSquare{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  height: 40%;
  width: 33%;
  border: 2px solid gray;
  cursor: pointer;
}

section {
  height: 220px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#square {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  height: 20%;
  width: 33%;
  border: 2px solid gray;
  cursor: pointer;
}
